<% if user_signed_in? && current_user.try(:admin?) %> 
	<h1>All Users</h1>
	  <% @user.each do |user| %>
	  <%= user.name %>
	  <%= user.id %>
	  <%= user.email %>
	  <%= user.admin %><br/>
	<% end %>
	<br>
	<% else %>
		<script type="text/javascript">
    	window.location.href="/dashboard"  
   	    </script>
 <% end %> 

