  <% if user_signed_in? && current_user.try(:admin?) %>
    <h1>Orders</h1>


      <table class="table table-bordered table-striped">
        <tr>
            <th class="center">Requester</th>
            <th class="center">Name</th>
            <th class="center">Prompt</th>
            <th class="center">Option</th>
            <th class="center">Price</th>
            <th class="center">Status</th>
        </tr>
           
        
      


    <% else %>
  <script type="text/javascript">
        window.location.href="/dashboard"  
  </script>
<% end %>

<br>


