<h1>Welcome to Gaigaile! (Enter Chinese Text Also)</h1>
<br>
<h3 class="center"><b>Walkthrough</b></h3>
<p class="center">Insert cool flow chart and or video</p>
<br>
<div class="row">
<div class="col-md-6">
  <p><b>Who are we?</b></p>
  <p>Gaigaile (pronounced GUY-GUY-LUH) is an online proofreading platform made specifically for Chinese students looking for high-quality and affordable proofreading for their overseas university application essays.</p>
  <p><b>How it Works</b></p>
  <p>Have something that needs to be proofread? You can quickly place a listing to have your text proofread via our simple website. Then, our platform springs into action; users who are qualified to proofread on Gaigaile can search available listings and can provide edits and comments within minutes. Soon, you'll have your edited and reviewed text back in your hands, ready to be used for whatever you need. Users approve the quality of the proofreading before any payment is ever made, ensuring the highest quality reviews and removing any issues of insecurity. Get started today by clicking the link below!</p>
</div>
<div class="col-md-6">
  <p><b>Chinese version Here</b></p>
  <p>Text</p>
  <p>Text</p>
</div>
</div>



  <% if user_signed_in? %>
	  <div class="col-md-2">
	    <%= link_to "New Listing", new_listing_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% else %>
  	  <div class="col-md-2">
	    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% end %>
  <br><br>
  <br><br>

