<h1>Services and Pricing</h1>
<p>Gaigaile offers two service options with affordable pricing</p>
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered center">
		  <tr>
		  	<th></th>
		  	<th class="center"><h4>Basic:</h4>
		  		<p>Ideal for quick fixes and last minute adjustments</p></th>
		  	<th class="center"><h4>Standard</h4>
		  		<p>Ideal for a comprehensive review of your application</p></th>
		  </tr>
		  <tr>
		  	<td><b>Cost</b></td>
		  	<td>1RMB/word</td>
		  	<td>3RMB/word</td>
		  </tr>
		  <tr>
		  	<td><b>Proofreading</b></td>
		  	<td colspan="2">Professionally edited by a native English speaker, guaranteed to be free from spelling and grammar errors.</td> 	
		  </tr>
		  <tr>
		  	<td><b>Commenting</b></td>
		  	<td>-</td>
		  	<td>Specially trained editors will give feedback and recommendations for essay content, logic, and structure. Your essay will also be graded according to our comprehensive scoring guidelines so you know how you’ll compare with other applicants.</td>
		  </tr>
		  <tr>
		  	<td><b>Review</b></td>
		  	<td>-</td>
		  	<td>Take control of your own writing. Make changes according to your editor’s suggestions and then send it back for final proofreading</td>
		  </tr>
		  <tr>
		  	<td><b>Final Proofreading</b></p>
		  	<td>-</td>
		  	<td>Your editor will have a final look at your writing to fix any remaining language and style errors. Your essay will also be re-scored according to our scoring guidelines so that you can see how much you’ve improved.</td>
		  </tr>
		</table>
	</div>
</div>
		<p>*Expect <2 day turnaround for each step</p>
	

  <% if user_signed_in? %>
	  <div class="col-md-2">
	    <%= link_to "Create Listing", new_listing_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% else %>
  	  <div class="col-md-2">
	    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% end %>
  <br><br>
  <br><br>