<h1 class="center">服务与收费</h1>
<h3 class="center">Gaigaile offers two service options with affordable pricing</h3>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-bordered center">
		  <tr>
		  	<th></th>
		  	<th class="center"><h4>Basic<br>基础服务</h4></th>
		  	<th class="center"><h4>Standard<br>标准服务</h4></th>
		  </tr>
		  <tr>
		  	<td><b>初步校订</b><br><p>英语母语者专业校订，担保0拼写以及<br>语法错误</p></td>
		  	<td><span class="glyphicon glyphicon-ok"></span></td>
		  	<td><span class="glyphicon glyphicon-ok"></span></td>
		  <tr>
		  <tr>
		  	<td><b>点评</b><br><p>由专业受训的文案为文书内容，逻辑<br>以及架构给予反馈与建议。通过按照<br>我们完整的评分标准对您的文书进行<br>评分，您将知道您与其他申请者的比<br>较。</p><b>修订</b><p>在您根据文案的修改建议进行修订后，<br>将其文档传送给文案做最后的校订</p></td>
		  	<td><span class="glyphicon glyphicon-remove"></span></td>
		  	<td><span class="glyphicon glyphicon-ok"></span></td>
		  <tr>
		  <tr>
		  	<td><b>最终校订</b><br><p>您的文案将会最终检查您的文书以及<br>为您修正仍然存在的语言及样式的错<br>误。在最后，我们还会对您修改后的<br>文稿进行评分，通过此服务，您将知<br>道您在其中取得了多大的进步。</p></td>
		  	<td><span class="glyphicon glyphicon-remove"></span></td>
		  	<td><span class="glyphicon glyphicon-ok"></span></td>
		  <tr>
		  	<td></td>
		  	<td>1元／字</td>
		  	<td>3元／字</td>
		  </tr>
		</table>
		<p>*小于2天的处理时间</p>
	

  <% if user_signed_in? %>

	  <div class="col-md-4">
	    <%= link_to "Create Listing", new_listing_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% else %>
  	  <div class="col-md-4">
	    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg btn-block" %>
	  </div>
  <% end %>
	</div>
</div>
		
  <br><br>
  <br><br>