<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @review.statement %>
</p>

<%= link_to 'Back', dashboard_path %>
