
<% if !current_user.try(:admin?) %>
<p>&copy 2013-2014 Gaigaile &nbsp;  <%= link_to "Contact", pages_contact_path, class: "btn btn-link footer" %> &nbsp;  <%= link_to "Team", pages_team_path, class: "btn btn-link footer"  %> &nbsp;  <%= link_to "Privacy", pages_privacy_path, class: "btn btn-link footer"  %>&nbsp;  <%= link_to "Terms", pages_terms_path, class: "btn btn-link footer"  %></p>
<% else %>
<p>&copy 2013-2014 Gaigaile</p>
<% end %>
